In [1]:
import pandas as pd
import numpy as np
import os, sys

In [2]:
local_fp = '../../data/net/BPI2018/net1/net1-feature.csv'
cluster_fp = '../../data/BPI2018/net1/net1-feature.csv'

local_df = pd.read_csv(local_fp)
cluster_df = pd.read_csv(cluster_fp)

In [7]:
local_df.head()

,caseid,trace_length,n_activity,activity_repeat_mean,activity_repeat_std,snp_n_transition,snp_n_inv_transition,snp_n_dup_transition,snp_n_uniq_transition,snp_inv_transition_in_degree_mean,...,subnet_n_dup_transition_mean,subnet_n_dup_transition_std,subnet_n_uniq_transition_mean,subnet_n_uniq_transition_std,subnet_n_place_mean,subnet_n_place_std,subnet_n_arc_mean,subnet_n_arc_std,decomposition,log
0,1,111.0,59.0,1.881356,1.390668,461.0,25.0,146.0,290.0,1.44,...,0.0,0.0,5.633333,13.378412,5.316667,12.608165,15.300000,37.494090,sese_25,net1-0-0-l5000
1,1,111.0,59.0,1.881356,1.390668,461.0,25.0,146.0,290.0,1.44,...,0.0,0.0,5.827586,12.473323,6.379310,12.335696,17.965517,36.766673,generic_50,net1-0-0-l5000
2,10,105.0,79.0,1.329114,0.571133,449.0,25.0,96.0,328.0,1.44,...,0.0,0.0,5.633333,13.378412,5.316667,12.608165,15.300000,37.494090,sese_25,net1-0-0-l5000
3,10,105.0,79.0,1.329114,0.571133,449.0,25.0,96.0,328.0,1.44,...,0.0,0.0,5.827586,12.473323,6.379310,12.335696,17.965517,36.766673,generic_50,net1-0-0-l5000
4,100,51.0,45.0,1.133333,0.547723,341.0,25.0,18.0,298.0,1.44,...,0.0,0.0,5.633333,13.378412,5.316667,12.608165,15.300000,37.494090,sese_25,net1-0-0-l5000

In [8]:
merged_df = cluster_df.merge(local_df, on=['caseid', 'log'], indicator=True)

In [10]:
merged_df['_merge'].unique()

[both]
Categories (1, object): [both]